In [131]:
import pandas as pd

Считывание данных:

In [132]:
Data ="ENB2012_data.xlsx"

In [133]:
df = pd.read_excel(Data)

Рассчет коэффициентов корреляции для всех столбцов

In [134]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X1      768 non-null    float64
 1   X2      768 non-null    float64
 2   X3      768 non-null    float64
 3   X4      768 non-null    float64
 4   X5      768 non-null    float64
 5   X6      768 non-null    int64
 6   X7      768 non-null    float64
 7   X8      768 non-null    int64
 8   Y1      768 non-null    float64
 9   Y2      768 non-null    float64
dtypes: float64(8), int64(2)
memory usage: 60.1 KB

In [135]:
print(df)

       X1     X2     X3      X4   X5  X6   X7  X8     Y1     Y2
0    0.98  514.5  294.0  110.25  7.0   2  0.0   0  15.55  21.33
1    0.98  514.5  294.0  110.25  7.0   3  0.0   0  15.55  21.33
2    0.98  514.5  294.0  110.25  7.0   4  0.0   0  15.55  21.33
3    0.98  514.5  294.0  110.25  7.0   5  0.0   0  15.55  21.33
4    0.90  563.5  318.5  122.50  7.0   2  0.0   0  20.84  28.28
..    ...    ...    ...     ...  ...  ..  ...  ..    ...    ...
763  0.64  784.0  343.0  220.50  3.5   5  0.4   5  17.88  21.40
764  0.62  808.5  367.5  220.50  3.5   2  0.4   5  16.54  16.88
765  0.62  808.5  367.5  220.50  3.5   3  0.4   5  16.44  17.11
766  0.62  808.5  367.5  220.50  3.5   4  0.4   5  16.48  16.61
767  0.62  808.5  367.5  220.50  3.5   5  0.4   5  16.64  16.03

[768 rows x 10 columns]

In [136]:
df.head()

     X1     X2     X3      X4   X5  X6   X7  X8     Y1     Y2
0  0.98  514.5  294.0  110.25  7.0   2  0.0   0  15.55  21.33
1  0.98  514.5  294.0  110.25  7.0   3  0.0   0  15.55  21.33
2  0.98  514.5  294.0  110.25  7.0   4  0.0   0  15.55  21.33
3  0.98  514.5  294.0  110.25  7.0   5  0.0   0  15.55  21.33
4  0.90  563.5  318.5  122.50  7.0   2  0.0   0  20.84  28.28

Отделим от нашей выборки прогнозные значения

In [137]:
trg = df[['Y1','Y2']]
trg

        Y1     Y2
0    15.55  21.33
1    15.55  21.33
2    15.55  21.33
3    15.55  21.33
4    20.84  28.28
..     ...    ...
763  17.88  21.40
764  16.54  16.88
765  16.44  17.11
766  16.48  16.61
767  16.64  16.03

[768 rows x 2 columns]

In [138]:
trn = df.drop(['Y1','Y2'], axis=1)
trn

       X1     X2     X3      X4   X5  X6   X7  X8
0    0.98  514.5  294.0  110.25  7.0   2  0.0   0
1    0.98  514.5  294.0  110.25  7.0   3  0.0   0
2    0.98  514.5  294.0  110.25  7.0   4  0.0   0
3    0.98  514.5  294.0  110.25  7.0   5  0.0   0
4    0.90  563.5  318.5  122.50  7.0   2  0.0   0
..    ...    ...    ...     ...  ...  ..  ...  ..
763  0.64  784.0  343.0  220.50  3.5   5  0.4   5
764  0.62  808.5  367.5  220.50  3.5   2  0.4   5
765  0.62  808.5  367.5  220.50  3.5   3  0.4   5
766  0.62  808.5  367.5  220.50  3.5   4  0.4   5
767  0.62  808.5  367.5  220.50  3.5   5  0.4   5

[768 rows x 8 columns]

Тренировочная и тестовая выборка:

In [139]:
from sklearn.model_selection import train_test_split
Xtrain, Xtest, Ytrain, Ytest = train_test_split(trn, trg, test_size=0.3)

# **Линейная регрессия**

In [140]:
from sklearn.linear_model import LinearRegression
Linear_Regression_model = LinearRegression()

In [141]:
Linear_Regression_model.fit(Xtrain, Ytrain['Y1'])

LinearRegression()

Для Y1:

In [142]:
Y1predict_linear = Linear_Regression_model.predict(Xtest)

In [143]:
from sklearn.metrics import mean_squared_error, r2_score
rmse_linear_Y1 = mean_squared_error(Ytest['Y1'], Y1predict_linear) #Среднеквадратичная ошибка регрессии
rmse_linear_Y1

8.472959079167287

In [144]:
r2_linear_Y1 = r2_score(Ytest['Y1'], Y1predict_linear) #(Коэффициент детерминации) функция оценки регрессии.
r2_linear_Y1

0.920414993575811

Для Y2:

In [145]:
Linear_Regression_model.fit(Xtrain, Ytrain['Y1'])

LinearRegression()

In [146]:
Y2predict_linear = Linear_Regression_model.predict(Xtest)

In [147]:
rmse_linear_Y2 = mean_squared_error(Ytest['Y2'], Y2predict_linear)
rmse_linear_Y2

18.182937506756133

In [148]:
r2_linear_Y2 = r2_score(Ytest['Y2'], Y2predict_linear)
r2_linear_Y2

0.8088191237410367

# **Регрессия с усилением градиента**

In [149]:
from sklearn.ensemble import GradientBoostingRegressor
Gradient_Boosting_Regressor = GradientBoostingRegressor()

Для Y1:

In [150]:
Gradient_Boosting_Regressor.fit(Xtrain, Ytrain['Y1'])

GradientBoostingRegressor()

In [151]:
Y1predict_grad_boost = Gradient_Boosting_Regressor.predict(Xtest)

In [152]:
rmse_grad_boost_Y1 = mean_squared_error(Ytest['Y1'], Y1predict_grad_boost)
rmse_grad_boost_Y1

0.2489442497290523

In [188]:
r2_grad_boost_Y1 = r2_score(Ytest['Y1'], Y1predict_grad_boost)
r2_grad_boost_Y1

0.9976617106811404

Для Y2:

In [168]:
Gradient_Boosting_Regressor.fit(Xtrain, Ytrain['Y2'])

GradientBoostingRegressor()

In [169]:
Y2predict_grad_boost = Gradient_Boosting_Regressor.predict(Xtest)

In [170]:
rmse_grad_boost_Y2 = mean_squared_error(Ytest['Y2'], Y2predict_grad_boost)
rmse_grad_boost_Y2

2.4112458482272783

In [189]:
r2_grad_boost_Y2 = r2_score(Ytest['Y2'], Y2predict_grad_boost)
r2_grad_boost_Y2

0.9746474355989734

# **LASSO регрессия**

In [178]:
from sklearn.linear_model import LassoCV
Lasso = LassoCV()

Для Y1:

In [179]:
Lasso.fit(Xtrain, Ytrain['Y1'])

LassoCV()

In [180]:
Y1predict_Lasso = Lasso.predict(Xtest)

In [181]:
rmse_Lasso_Y1 = mean_squared_error(Ytest['Y1'], Y1predict_Lasso)
rmse_Lasso_Y1

18.29440711581985

In [190]:
r2_Lasso_Y1 = r2_score(Ytest['Y1'], Y1predict_Lasso)
r2_Lasso_Y1

0.828163868816614

Для Y2:

In [184]:
Lasso.fit(Xtrain, Ytrain['Y2'])

LassoCV()

In [185]:
Y2predict_Lasso = Lasso.predict(Xtest)

In [186]:
rmse_Lasso_Y2 = mean_squared_error(Ytest['Y2'], Y2predict_Lasso)
rmse_Lasso_Y2

16.95582403573826

In [187]:
r2_Lasso_Y2 = r2_score(Ytest['Y2'], Y2predict_Lasso)
r2_Lasso_Y2

0.821721364018286

In [192]:
table = pd.DataFrame([[rmse_linear_Y1, r2_linear_Y1, rmse_linear_Y2, r2_linear_Y2],
                      [rmse_grad_boost_Y1, r2_grad_boost_Y1, rmse_grad_boost_Y2, r2_grad_boost_Y2], 
                      [rmse_Lasso_Y1, r2_Lasso_Y1, rmse_Lasso_Y2, r2_Lasso_Y2]],
                     columns=['Y1 rmse', 'Y1 r2', 'Y2 rmse', 'Y2 r2'],
                     index=['Линейная регрессия', 'Регрессия с усилением градиента', 'Регрессия LASSO'])
table

                                   Y1 rmse     Y1 r2    Y2 rmse     Y2 r2
Линейная регрессия                8.472959  0.920415  18.182938  0.808819
Регрессия с усилением градиента   0.248944  0.997662   2.411246  0.974647
Регрессия LASSO                  18.294407  0.828164  16.955824  0.821721